<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="warn" name="com.datastax.driver.core.NettyUtil" />
    <logger level="error" name="com.datastax.driver.core.ControlConnection" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
